/*li:first-child a{
  color:green;
}*/



/*a[href="http://tutsplus.com/"]{
 color:green;

}*/



/*a[href*="tuts"]{
  color: green;
}*/


/*a[href$=".pdf"]:before{
 content: "PDF";
 font-size:13px;
 font-family: san-serif;
 background:black;
 color:red;
 border-radius: 8px;
 padding: 2px;
 margin-right:5px;
}*/


a[href^="http"] {
  color:yellow;

}